{% extends "base.html" %}

{% block title %}
    You have been banned!
{% endblock %}

{% block content %}
    <div id="global-cont">
        <b>You have been banned!</b>
        <br/>
        <b>Reason</b>: {{ ban.reason }}.
        <br/>
        <b>Your ban expires at</b>: {{ ban.expires_at }}.
    </div>
{% endblock %}
