<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/lib.js"></script>
    <script>
        var CFG_IS_MOD = "{{ is_mod }}" === "True";
        var CFG_PATHS = {
            find_posts_by_ip:  "{% url 'core:find_posts_by_ip' %}",
            api_mod_del_post:  "{% url 'core:api_mod_del_post' %}",
            api_ban_user:      "{% url 'core:api_ban_user' %}",

            api_render_post:   "{% url 'core:api_render_post' %}",
            api_del_post:      "{% url 'core:api_del_post' %}",
        };
    </script>
</head>
<body>
    <header id="header">
        <a class="tag-link" href="{% url 'core:all' %}">All threads</a>
        | <a href="javascript:window.history.back()" class="tag-link">Back</a>
        | Tags:
        {% for tag in existing_tags %}
            <a class="tag-link" href="{{ tag.get_absolute_url }}">~{{ tag.name }}</a>
        {% endfor %}

        {% if is_mod %}
            <span class="user-panel">
                Logged in as <a class="user-name" href="{% url 'admin:index' %}">{{ user.username }}</a>
            </span>
        {% endif %}
    </header>

    <h1>{% block header_text %}{% endblock %}</h1>

    {% block content %}{% endblock %}
</body>
</html>
