{% extends "base.html" %}

{% block title %}
    {% if tag_name %}
        ~{{ tag_name }}
    {% else %}
        Board
    {% endif %}
{% endblock %}

{% block header_text %}
    {% if tag_name %}
        ~{{ tag_name }}
    {% else %}
        All threads
    {% endif %}
{% endblock %}

{% block content %}

    <div id="global-cont">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <table>{{ form }}</table>
            <input type="submit" value="New thread"/>
        </form>
        <br/>

        {% for thread, nomitted, comments in data %}
            {% include "original-post.html" with open_link=True %}

            {% if nomitted %}
                <span class="light-msg">Omitted {{ nomitted }} comment(s).</span>
            {% endif %}

            {% for comment in comments %}
                {% include "comment.html" %}
            {% endfor %}
        {% empty %}
            <span class="light-msg">No threads yet.</span>
        {% endfor %}
    </div>

    Pages:
    {% for page_num in page.paginator.page_range %}
        {% spaceless %}
        <span class="page-number">
            {% if page_num == page.number %}
                <span>{{ page_num }}</span>
            {% else %}
                {% if tag_name %}
                    <a class="page-link" href="{% url 'core:by_tag' tag_name page_num %}">{{ page_num }}</a>
                {% else %}
                    <a class="page-link" href="{% url 'core:all' page_num %}"            >{{ page_num }}</a>
                {% endif %}
            {% endif %}
        </span>
        {% endspaceless %}
    {% endfor %}

{% endblock %}
