{% extends "base.html" %}

{% block title %}
    {% if tag_name %}
        Catalog: ~{{ tag_name }}
    {% else %}
        Catalog
    {% endif %}
{% endblock %}

{% block header_text %}
    {% if tag_name %}
        Catalog: ~{{ tag_name }}
    {% else %}
        Catalog
    {% endif %}
{% endblock %}

{% block content %}

    <div id="global-cont">
        {% for thread, ncomments in data %}
            <div class="catalog-thread">
                <div class="post-header">
                    <b>#{{ thread.number }}</b>
                    <a class="open-thread-link" href="{{ thread.get_absolute_url }}">Open</a>
                </div>
                <!-- TODO: image -->
                <span class="light-msg">{{ ncomments }} comment(s).</span>
            </div>
        {% empty %}
            <span class="light-msg">No threads yet.</span>
        {% endfor %}
    </div>

    Pages:
    {% for page_num in page.paginator.page_range %}
        {% spaceless %}
        <span class="page-number">
            {% if page_num == page.number %}
                <span>{{ page_num }}</span>
            {% else %}
                {% if tag_name %}
                    <a class="page-link" href="{% url 'core:catalog_tag' tag_name page_num %}">{{ page_num }}</a>
                {% else %}
                    <a class="page-link" href="{% url 'core:catalog_all' page_num %}"         >{{ page_num }}</a>
                {% endif %}
            {% endif %}
        </span>
        {% endspaceless %}
    {% endfor %}

{% endblock %}
