{% extends "base.html" %}

{% block title %}
    Find posts by IP
{% endblock %}

{% block header_text %}
    Posts with IP {{ ip }}
{% endblock %}

{% block content %}
    <div id="global-cont">
        {% for post in page.object_list %}
            {% if post.parent %}
                {% include "comment.html" with comment=post %}
            {% else %}
                {% include "original-post.html" with thread=post open_link=True %}
            {% endif %}
        {% endfor %}
    </div>

    Pages:
    {% for page_num in page.paginator.page_range %}
        {% spaceless %}
        <span class="page-number">
            {% if page_num == page.number %}
                <span>{{ page_num }}</span>
            {% else %}
                <a class="page-link" href="{% url 'core:find_posts_by_ip' %}?ip={{ ip }}&page={{ page_num }}">{{ page_num }}</a>
            {% endif %}
        </span>
        {% endspaceless %}
    {% endfor %}
{% endblock %}
