<div class="post-header">
    <a href="javascript:void(0)" class="post-time" data-number="{{ post.number }}" data-link="{{ post.get_anchored_url }}"
       {% if is_mod %} data-ip="{{ post.ip }}" {% endif %}
    >{{ post.timestamp }}</a>

    {% if has_tags %}
        {% for tag in tags %}
            ~{{ tag.name }}
        {% endfor %}
    {% endif %}

    <a href="javascript:insert_reply({{ post.number }})" class="post-num">#{{ post.number }}</a>

    {% if open_link %}
        <a class="open-thread-link" href="{{ post.get_absolute_url }}">Open</a>
    {% endif %}
</div>

{% if post.image %}
    <div class="post-image-descr">
        File: <a href="{{ post.image.url }}">{{ post.image.name | truncatechars:15 }}</a>,
        {{ post.image_width }}×{{ post.image_height }}
    </div>
    <div class="post-image">
        <img src="{{ post.image.url }}" style="height: 150px; width: 150px;"/>
    </div>
{% endif %}

<div class="post-text">
    {{ post.text | safe }}
</div>
