{% extends "base.html" %}

{% block title %}
    Thread {{ thread.number }}
{% endblock %}

{% block content %}
    <div id="global-cont">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <table>{{ form }}</table>
            <input type="submit" value="Post"/>
        </form>
        <br/>

        {% include "original-post.html" with open_link=False %}
        {% for comment in comments %}
            {% include "comment.html" %}
        {% endfor %}
    </div>
{% endblock %}
