body {
    background-color: #f8f1ff;
    color: #333;
}

/*
a {
    color: #ff5154;
}

a:hover {
    color: #ff5154;
}
*/

a {
    color: #ff5154;
}

.open-thread-link {
    color: #ff88dc !important;
}

.open-thread-link::before {
    content: "[";
}

.open-thread-link::after {
    content: "]";
}

.page-number::before {
    content: "[";
}

.page-number::after {
    content: "]";
}

#global-cont {
    width: 80%;
    margin: 0 auto;
}

.post {
    text-align: justify;
    margin-bottom: 0.3em;
    overflow-x: auto;
}

.comment {
    background-color: #faff7f;
    border: 1px solid #ff88dc;
    border-radius: 0.3em;
    margin: 0.5em 0 0.7em 0;
    padding: 0.35em 0.5em 0.4em 0.5em;
    box-shadow: 0 0 0.5em rgba(255,136,220,0.5);
    display: table;
}

.post-time {
    color: #ff5154;
    text-decoration: none !important;
    font-weight: normal !important;
}

.post-num {
    text-decoration: none !important;
    color: #333 !important;
    font-weight: bold !important;
}

.post-image {
    float: left;
    padding-right: 0.9em;
    text-align: center;
}

.post-image-descr {
    font-size: small;
    text-align: left;
}

.post-text {
    vertical-align: top;
    padding-top: 0.2em;
}

.light-msg {
    color: #777;
}

.user-panel {
    box-shadow: 0 0 0.3em rgba(0,0,0,0.5);
    background-color: #ccc;
    border: 1px solid #999;
    border-radius: 0.3em;
    padding: 0.2em 1em;
    margin-bottom: 0.5em;
    float: right;
}

.user-panel .user-name {
    text-decoration: none !important;
    font-weight: bold !important;
    color: #333 !important;
}

.popup {
    display: inline-block;
    position: absolute;
    background-color: #fefefe;
    border: 2px solid #888;
}

.popup-section {
    display: block;
    font-weight: bold;
    background-color: #ffd080;
    border-top: 2px solid #888;
    border-bottom: 2px solid #888;
}

.tag-link {
    text-decoration: none !important;
}

.post-action {
    text-decoration: none !important;
}

.post-action::before {
    content: "[";
}

.post-action::after {
    content: "]";
}

.ip-highlight {
    background-color: #ffd080 !important;
}

.banned::after {
    display: block;
    color: red !important;
    content: "(Banned)";
}

.flying {
    position: absolute;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    color: #333333;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #888;
    width: 80%;
}

h1 {
    text-align: center;
    font-size: xx-large;
}

blockquote {
    margin: 0;
    background: inherit;
    color: #777;
    padding: 0.3em 0;
    display: inline-block;
}

.spoiler {
    color: #333;
    background-color: #333;
}

.spoiler:hover {
    color: #eee !important;
}

#catalog-table {
    border-collapse: collapse;
}

#catalog-table td {
    border: 1px solid black;
    vertical-align: top;
}
